    <div id="site_content">
      <div class="content">
        <h1>Accommodation</h1>
        <ul>
          <li>
            <a href="http://www.angelhotelleamington.co.uk/">The Angel
            Hotel</a> is near to the park
          </li>
          <li>
            <a href="http://www.travelodge.co.uk/hotels/143/The-Regent-Hotel-Leamington-Spa-hotel">The
          Travelodge</a> on the Parade is also very close and
          somewhat cheaper
          </li>
        </ul>


       <h1>Restaurants</h1>
        <ul>
        <li>
        A firm favourite of ours is <a href="http://www.kayalrestaurant.com/leamingtonspamenu.aspx"> Kayal </a> a fantastic South Indian cuisine that copes very well with vegetarian and gluten-free requirements. 
        </li>
        <li> 
       Two nice pubs that serve food are <a href="http://www.regencyarms.co.uk/"> The Regency Arms</a> and <a href="http://www.theroyalpug.com/"> The Royal Pug</a>. 
       </li>
       <li>
        <a href="http://www.thaielephantrestaurant.co.uk/">The Thai Elephant</a> is also gorgeous in both decor and food. 
       </li>
       </ul>
      </div>
    </div>
