    <div id="site_content">
      <div class="content">
        <h1>Accomodation</h1>
        <ul>
          <li>
            <a href="http://www.angelhotelleamington.co.uk/">The Angel
            Hotel</a> is near to the park
          </li>
          <li>
            <a href="http://www.travelodge.co.uk/hotels/143/The-Regent-Hotel-Leamington-Spa-hotel">The
          Travellodge</a> on the Parade is also very close and
          somewhat cheaper
          </li>
        </ul>
      </div>
    </div>
