    <div id="site_content">
      <div class="content">
        <h1>Gifts</h1>
        <p>
          Aww schucks, thank you, but we don’t
          feel the need for any wedding gifts. (Honestly we have
          all the stuff we need!) However, if you would like to
          contribute a small donation to <i>Médecins Sans Frontières</i> we
          have set up
          a <a href="http://www.justgiving.com/fundraising/AlexandSimonWed">just
          giving page</a>. Please don’t feel obliged to give anything
          though; we would far rather that you come and enjoyed
          yourself.
        </p>
      </div>
    </div>
