    <div id="site_content">
      <div class="content">
        <h1>On the day</h1>
        <h2>Dress code</h2>
        <p>
          We really don’t want to be prescriptive about this; there is
          no theme to adhere to. Simon will probably wear a morning
          suit and Alex is not going for the traditional dress but a
          radical modern bifurcated skirt - but don’t worry there will
          be lace and probably sequins too. As for you, our lovely
          guests we want you to be happy, comfortable and gorgeous. As
          the venus is a glass house in a park in midsummer full-on
          formal evening is probably a bit much.
        </p>

        <h2>The day</h2>

        <p>
          As the venue is so close to our house we will probably walk
          there and not take a fancy car! The ceremony will start at
          1pm promptly and last about half an hour before photos. We
          hope that the weather will be brilliant and that we will be
          able to enjoy the park and ice cream. The wedding breakfast
          will be at 3pm, so perhaps a hearty breakfast is in order.
        </p>

        <h2>The venue</h2>

        <p>
          We have the green house and the restaurant reserved for the
          whole day, so everything will take place in there. The
          surrounding park will be open to the public and there is a
          little play ground for children just over the bridge and a
          boating pound for grown-up kids too!
        </p>
      </div>
    </div>
