    <div id="site_content">
      <div class="content">
        <h1>Travel</h1>
        <p>
          Trains: Jephson Gardens are a short walk from Leamington Spa
          train station.
        </p>
        <p>
          Car: Head for the town centre and we recommend St Peter’s
          car park - costs per 24 hours - as it is well signed on most
          routes in and close to the venue.
        </p>

        <h2>Map of the venue and so on</h2>

        <p>
          Click on a pin to see what it is!
        </p>

        <div id="map-canvas"></div>

        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLUXoR0ECWb08iT0Nz_t402uL2vuUn014"></script>
        <script type="text/javascript" src="js/map.js"></script>
      </div>
    </div>
