    <div id="site_content">
      <div class="content">
        <h1>Travel</h1>
        <p>
          Trains: Jephson Gardens are a short walk from Leamington Spa
          train station.
        </p>
        <p>
          Car: Head for the town centre and we recommend St Peter’s
          car park - costs per 24 hours - as it is well signed on most
          routes in and close to the venue.
        </p>
        <p>
          [map with train station, St Peters, Glass house marked on
          it?]
        </p>
      </div>
    </div>
